{% extends "base.html" %}{% block title %}Admin{% endblock %} 
{% block css %}
<link rel="stylesheet" href="static/admin/admin.css">
{% if theme == "dark" %}
<link rel="stylesheet" href="static/admin/admin-dark.css">
{% else %}
<link rel="stylesheet" href="static/admin/admin-light.css">
{% endif %}

{% endblock %}

{% block content
%}

<div class="background">
<h1>All Users</h1>
<a class="nav" href="{{ url_for('clearDB') }}">Clear all</a>
<hr />

{% for user in users %}
<ol>
  <ul >
  <p>Username: {{ user.username }}</p>
  <p>Password: {{ user.password }}</p>
  <p>Register Date: {{ user.registerDate }}</p>
  <ul>
</ol>

<hr>
{% endfor %} 
</div>
{% endblock %}
