<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="static/base/base.css">
{% if theme == "dark" %}
<link rel="stylesheet" href="static/base/base-dark.css">
{% else %}
<link rel="stylesheet" href="static/base/base-light.css">
{% endif %}
    {% block css %}{% endblock %}
  </head>
  <body>
    <div>
      <a class="nav" href="{{ url_for('user') }}">User</a>
      <a class="nav" href="{{ url_for('playSetup') }}">Play</a>
      <a class="nav" href="{{ url_for('login') }}">Login</a>
      <a class="nav" href="{{ url_for('logout') }}">Logout</a>
      <a class="nav" href="{{ url_for('register') }}">Register</a>
      <!-- <a class="nav" href="{{ url_for('admin') }}">Admin</a> -->
    </div>
    <hr />
    {% block content %} {% endblock %}
  </body>
</html>
