{% extends "base.html" %}{% block title %}Login{% endblock %} 
{% block css %}
<link rel="stylesheet" href="static/login/login.css">
{% if theme == "dark" %}
<link rel="stylesheet" href="static/login/login-dark.css">
{% else %}
<link rel="stylesheet" href="static/login/login-light.css">
{% endif %}

{% endblock %}
{% block content%}


<h1>Login</h1>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p class="error">{{message}}</p>
{% endfor %} {% endif %}{% endwith %}
<hr />

<div class="input">
<form class="input-form" action="#" method="post">

  <label for="username">Username:</label><br />
  <input class="text-input" type="text" name="username" required/><br />
  <label for="password">Password:</label><br />
  <input class="text-input" type="password" name="password" required/><br />
  <div class="login">
  <input class="theme login-button" type="submit" name="submit" value="Login" />
  </div>

</form>

</div>
 {% endblock %}
