{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="static/user/user.css">
{% if theme == "dark" %}
<link rel="stylesheet" href="static/user/user-dark.css">
{% else %}
<link rel="stylesheet" href="static/user/user-light.css">
{% endif %}

{% endblock %}
{% block title %}Home{% endblock %} {% block content %}

<div class="background">
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p class="error">{{message}}</p>
{% endfor %} {% endif %}{% endwith %}

<h1>{{ user.username }}</h1>
<hr />
<h2>Stats</h2>
<p><b>Date Registered:</b> {{ user.registerDate }}</p>
<p><b>Total Correct:</b> {{ user.totalCorrect }}</p>
<p><b>Total Problems:</b> {{ user.totalProblems }}</p>
<p><b>Total Percent:</b> {{ user.totalPercent }}%</p>
<a class="nav" href="{{ url_for('resetStats') }}">Reset Stats</a>

<hr>
<h2>Settings</h2>
<form action="" method="post">
  <label>Theme: </label>

  {% if user.theme == "light" %}

  <input class="theme theme-light" type="submit" name="light" value="Light Mode"> 
  {% else %}

    <input class="theme theme-dark" type="submit" name="dark" value="Dark Mode"> 
  {% endif %}
</form>

</div>
{% endblock %}
